aws_region  = "us-east-2"
project_name = "enterprise-ecommerce"
environment = "production"
vpc_cidr    = "172.31.0.0/16"

redis_auth_token = "CHANGE-ME"

jwt_issuer   = "ECommerce.Api"
jwt_audience = "ECommerce.Client"
jwt_key      = "CHANGE-ME"